<div id='container' ng-init='display()'>
  <!-- Your html here -->
  <nav class="navigation">
  <ul>
    <li><a href="#/links" class="index">All links</a></li>
    <li><a href="#/create" class="create">Shorten</a></li>
    <li><a href="#/logout" class="logout">Logout</a></li>
  </ul>
  </nav>
<!--   <div ng-controller="LinksController">
    <div ng-model="display">
      {{ data }}
    </div>
  </div> -->
  <div class="links" ng-repeat="link in data">
    <div class="link">
      <img src="assets/redirect_icon.png">
      <div class="info">
        <div class="visits">
          <span class="count">
            {{ link.visits }}
          </span>
          Visits
        </div>
        <div class="title">{{ link.title }}</div>
        <div class="original">{{ link.url }}</div>
        <a href="{{link.base_url}}/{{ link.code }}">{{link.base_url}}/{{link.code}}</a>
      </div>
    </div>
  </div>
</div>
